In [1]:
                                                                               '''string'''
#program to reverse a string
a=str(input())      #input string
a=a[::-1]           #reversing string
print("reversed string is:",a)

 rahman

reversed string is: namhar

In [2]:
# program to Check if a string is a palindrome
a=str(input())   #input string
b=a[::-1]        #reversing string
if  a==b:        
 print ("string is palindrome")
else:
 print ("string is not palindrome")

 ubed

string is not palindrome

In [3]:
#Convert a string to uppercase
a='ubed'
a.upper()

'UBED'

In [4]:
#Convert a string to lowercase.
a='RAHMAN'
a.lower()

'rahman'

In [1]:
#program to Count the number of vowels in a string
a=str(input())
vowels = {'a','e','i','o','u'}
count=0
for char in a:
  if char in vowels: 
    count+=1
print ("number of vowles is :", count)

 ubed

number of vowles is : 2

In [6]:
#Count the number of consonants in a string
a=str(input())
consonants = {'b','c','d','f','g','h','j','k','l','m','n','p','q','r','s','t','v','w','x','y','z'}
count=0
for char in a.lower():
  if char in consonants: 
    count+=1
print ("number of consonants is :", count)

 ubed

number of consonants is : 2

In [7]:
#Remove all whitespaces from a string
a= "   ubed   "
a.strip()

'ubed'

In [2]:
#Find the length of a string without using the `len()` function.
a=str(input())
alphabets={'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'}
count=0
for char in a.lower():
 if char in alphabets:
    count+=1
print("the length of string is :",count)

 sharukh

the length of string is : 7

In [2]:
#Check if a string contains a specific word
a=str(input())
b={'good'}

 good

string has specific word good

In [8]:
#Replace a word in a string with another word
s='umaiza is good girl'
s.replace('umaiza','umaira')

'umaira is good girl'

In [15]:
#Count the occurrences of a word in a string
s='ubedur rahman khan'
s.count('a')

3

In [16]:
#Find the first occurrence of a word in a string
s='umaiza'
s.find('a')

2

In [18]:
#Find the last occurrence of a word in a string
s="umaiza"
s.rfind('a')

5

In [31]:
#Split a string into a list of words
s='ubed is don'
s.split()

['ubed', 'is', 'don']

In [22]:
#Join a list of words into a string
l=['ubed','is','a','good','boy']
string=" ".join(l)
print(string)

ubed is a good boy

In [16]:
#Convert a string where words are separated by spaces to one where words are separated by underscores
s='world is beautiful'
s.replace(' ','_')

'world_is_beautiful'

In [30]:
#Check if a string starts with a specific word or phrase
def starts_with(text, prefix):
    is_start = text.startswith(prefix)
    return is_start
text = "sharukh , khan"
prefix = "ubed"
result = starts_with(text,prefix)
if result:
 print("the text starts with prefix")
else:
 print("text doestnot starts with prefix")

text doestnot starts with prefix

In [29]:
#Check if a string ends with a specific word or phrase.
def ends_with(text, suffix):
    is_end = text.endswith(suffix)
    return is_end
text = "sharukh , khan"
suffix = "khan"
result = ends_with(text,suffix)
if result:
 print("the text ends with suffix")
else:
 print("text doestnot ends with suffix")

the text ends with suffix

In [31]:
#Convert a string to title case (e.g., "hello world" to "Hello World").
s="hello world"
s.upper()

'HELLO WORLD'

In [19]:
#Find the longest word in a string
def find_longest_word(text):
    words=text.split()
    longest_word=max(words,key=len)
    return longest_word
text="jawan is the biggest hit of the decade"
longest_word = find_longest_word(text)
print("The longest word is :",longest_word )

The longest word is : biggest

In [18]:
#Find the shortest word in a string.
def find_shortest_word(text):
    words = text.split()
    shortest_word = min(words, key=len)
    return shortest_word
text = "jawan is a biggest hit of millenium"
shortest_word = find_shortest_word(text)
print("shortest_word :", shortest_word)

shortest_word : a

In [27]:
#Reverse the order of words in a string.
def reverse_string(text):
    words=text.split() # split the string into a list of words
    words=words[::-1]  # reverse the order of the list using slicing
    reverse_string = " ". join(words) # # join the list of words into a new string
    return reverse_string
text = 'ubed is a boy'
reverse_string = reverse_string(text)
print("reverse order of words in a string : ", reverse_string)

reverse order of words in a string :  boy a is ubed

In [12]:
#Check if a string is alphanumeric.
def is_alnum(text):
    a= text.isalnum()
    return a
text = "hello123"
result = is_alnum(text)
if result:
    print ("the string is alphanumeric") 
else:
     print("the string is not alphanumeric")

the string is alphanumeric

In [35]:
#Extract all digits from a string.
def extract_digits(text):
    digits = ""
    for char in text:
        if char.isdigit():
            digits += char
    return digits # move this line outside the for loop

text = "ubed143"
digits = extract_digits(text)
print("the digits in string : ", digits)

the digits in string :  143

In [7]:
#Extract all alphabets from a string.
def extract_alphabets(text):
    alphabets= ""
    for char in text:
        if char.isalpha():
            alphabets+= char
    return alphabets
text ="umiaza987" 
alphabets = extract_alphabets(text)
print("alphabets in string :" ,alphabets)

alphabets in string : umiaza

In [27]:
#Count the number of uppercase letters in a string.
def number_of_uppercaseletters(text):
    uppercase_letters = ""
    count=0
    for char in text:
        if char.isupper(): 
            count+= 1
    return count
text = "Ubed Rahman Khan"
uppercase_letters = number_of_uppercaseletters(text)
print("Number of Uppercase Letters :" , uppercase_letters )

Number of Uppercase Letters : 3

In [32]:
#Count the number of lowercase letters in a string.
def number_of_lowercaseletters(text):
    lowercase_letters= ""
    count =0
    for char in text:
        if char.islower(): #checking if char is lowercase letter
            count+=1
    return count
text = "Ubedur Rahman"  
lowercase_letters = number_of_lowercaseletters(text)
print("number of lowercase letters : " , lowercase_letters)

number of lowercase letters :  10

In [61]:
#Swap the case of each character in a string.
def swap_char_in_a_string(text):
    swappedchars = ""
    chars=text.split()
    for char in text:
        swappedchars += char.swapcase() #swapping case of each char
    return swappedchars
text ="UbedUr"  
swappedchars = swap_char_in_a_string(text)
print("swapped chars in a string :",swappedchars)

swapped chars in a string : uBEDuR

In [95]:
#Remove a specific word from a string.
def remove_specific_word(text):
    words=text.split()
    a = text     #assign the original text to a
    for word in words:
        if word =='porn':
            a= a.replace('porn',"")   # # replace 'porn' with an empty string and assign it to a
    return a
text = "searching for porn videos"
removewords= remove_specific_word(text)
print("new string is :" , removewords)

new string is : searching for  videos

In [13]:
#Check if a string is a valid email address.
import re
def check_email(email):
    regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
    if re.match(regex, email):
        print("Valid Email")
    else:
        print("Invalid Email")
      
check_email(input("enter the email id"))

enter the email id ubedur&&&enterprisesolutioninc.com

Invalid Email

In [18]:
#Extract the username from an email address string.
def extract_username(email):
    return email.split('@')[0]
email=str(input("enter the email :")) 
print(" etracted user name from email :", extract_username(email))

enter the email : rahmankhan496@gmail.com

 etracted user name from email : rahmankhan496

In [23]:
#Extract the domain name from an email address 
def extract_domain(email):
    return email.split('@')[1]
email =str(input("enter the email ID :"))
print("Extarcted Domain name from email id is :",extract_domain(email))

enter the email ID : ubedur.khan@navitastech.com

Extarcted Domain name from email id is : navitastech.com

In [13]:
#Replace multiple spaces in a string with a single space
string = 'ubedur    rahman'
string.replace(" " ,  ' ')

'ubedur    rahman'

In [27]:
#Check if a string is a valid URL
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
is_valid_url('https://www.bing.com/search?form=NTPCHB&q=Bing+AI&showconv=1')

True

In [1]:
#Extract the protocol (http or https) from a URL string.
from urllib.parse import urlparse

url = "https://www.example.com"
protocol = urlparse(url).scheme
print(protocol)

https

In [10]:
#Find the frequency of each character in a string.
s='umaiza and umaira are two beautiful and humble girls'
frequency={}
for char in s:
    if char in frequency:
        frequency[char] +=1
    else:
        frequency[char] =1
print(frequency)

{'u': 5, 'm': 3, 'a': 8, 'i': 4, 'z': 1, ' ': 8, 'n': 2, 'd': 2, 'r': 3, 'e': 3, 't': 2, 'w': 1, 'o': 1, 'b': 2, 'f': 1, 'l': 3, 'h': 1, 'g': 1, 's': 1}

In [9]:
#Remove all punctuation from a string
a=str(input("enter the string :"))

enter the string : "ubed"

' " u b e d " '

In [7]:
#Check if a string contains only digits.
a=str(input("enter the string :"))
if a.isdigit():
    print("entered string contains only digits")
else:
    print("entered string contains chars other digits or combination of digits")

enter the string : 1234

entered string contains only digits

In [5]:
#Check if a string contains only alphabets.
a=str(input("enter the string :"))
if a.isalpha():
    print("Entered String contains only alphabets")
else:
    print("entered string is a combination of alpha Numeric or special characters")

enter the string : ubed

Entered String contains only alphabets

In [6]:
#Convert a string to a list of characters.
a='ubedur'
list=[]
for i in a:
    list.append(i)
print(list)

['u', 'b', 'e', 'd', 'u', 'r']

In [11]:
#Check if two strings are anagrams.
def is_anagram(str1: str, str2: str) -> bool:
    return sorted(str1) == sorted(str2)

str1 = "listen"
str2 = "silent"
if is_anagram(str1, str2):
    print(f"{str1} and {str2} are anagrams.")
else:
    print(f"{str1} and {str2} are not anagrams.")

listen and silent are anagrams.

In [12]:
#Encode a string using a Caesar cipher
def caesar_cipher(text: str, shift: int) -> str:
    result = ""
    for char in text:
        if char.isalpha():
            if char.isupper():
                result += chr((ord(char) + shift - 65) % 26 + 65)
            else:
                result += chr((ord(char) + shift - 97) % 26 + 97)
        else:
            result += char
    return result

text = "hello world"
shift = 3
encoded_text = caesar_cipher(text, shift)
print(encoded_text)

khoor zruog

In [13]:
#Decode a Caesar cipher encoded string.
def caesar_cipher(text: str, shift: int) -> str:
    result = ""
    for char in text:
        if char.isalpha():
            if char.isupper():
                result += chr((ord(char) - shift - 65) % 26 + 65)
            else:
                result += chr((ord(char) - shift - 97) % 26 + 97)
        else:
            result += char
    return result

text = "khoor zruog"
shift = 3
decoded_text = caesar_cipher(text, shift)
print(decoded_text)

hello world

In [14]:
#Find the most frequent word in a string.
from collections import Counter

string = 'ubed is a good and ubed is accha baccha and ubed is a powerful man'
frequency = Counter(string.split())
most_common_word = frequency.most_common(1)[0][0]
print(most_common_word)  # Output: hello

ubed

In [37]:
#Find all unique words in a string.
my_string = "the quick brown fox jumps over the lazy dog"
unique_words = set(my_string.split())
print(unique_words)

{'quick', 'jumps', 'over', 'fox', 'lazy', 'the', 'dog', 'brown'}

In [15]:
#Count the number of syllables in a string.
def syllable_count(word: str) -> int:
    word = word.lower()
    count = 0
    vowels = "aeiouy"
    if word[0] in vowels:
        count += 1
    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            count += 1
    if word.endswith("e"):
        count -= 1
    if count == 0:
        count += 1
    return count

word = "syllables"
syllables = syllable_count(word)
print(f"The word '{word}' has {syllables} syllables.")

The word 'syllables' has 3 syllables.

In [38]:
#Check if a string contains any special characters.
import string

def has_special_chars(s):
    return any(c in string.punctuation for c in s)

if has_special_chars("Hello, world!"):
    print("The string contains special characters")
else:
    print("The string does not contain special characters")

The string contains special characters

In [39]:
#Remove the nth word from a string.
my_string = "The quick brown fox jumps over the lazy dog"
n = 3
words = my_string.split()
del words[n-1]
new_string = " ".join(words)
print(new_string)

The quick fox jumps over the lazy dog

In [41]:
 #Insert a word at the nth position in a string.
def insert_word(string, word, n):
    return string[:n] + word + string[n:]

string = "Hello World!"
word = "beautiful "
n = 6
new_string = insert_word(string, word, n)
print(new_string)

Hello beautiful World!

In [42]:
#Convert a CSV string to a list of lists.
import csv

def csv_to_list(csv_string):
    reader = csv.reader(csv_string.split('\\n'))
    return [row for row in reader]

csv_string = '1,2,3\\n4,5,6\\n7,8,9'
list_of_lists = csv_to_list(csv_string)
print(list_of_lists)

[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

In [ ]:
                                                            '''List'''
#Create a list with integers from 1 to 10.
list(range(1,11))

In [23]:
#Find the length of a list without using the `len()` function.

List=[1,2,8,7,'ubed',89]
count=0
for i in List:
    count+=1
print("the length of string is : ",count)

the length of string is :  6

In [19]:
#Append an element to the end of a list.
List=[1,2,8,9]
List.append(0)
print(List)

[1, 2, 8, 9, 0]

In [20]:
#Insert an element at a specific index in a list.
List=[12,89,99,77]
List.insert(1,100)
print(List)

[12, 100, 89, 99, 77]

In [56]:
#Remove an element from a list by its value.
List=[100,500,800,700]
List.remove(800)
print(List)

[100, 500, 700]

In [9]:
#Remove an element from a list by its index.
List=[1000,2000,9000,6000,3000]
List.index(2000)

1

In [21]:
#Check if an element exists in a list.
List=[0,1,2,3,55,88]
element=int(input("enter the elememt :"))
if element in list:
    print("the element is in list")
else:
    print("the element is not in list")

enter the elememt : 0

the element is in list

In [60]:
#Find the index of the first occurrence of an element in a list.
List=[3,9,6,12,3,15]
List.index(3)

0

In [7]:
#Count the occurrences of an element in a list.
List=[20,10,60,20,10]
List.count(10)

2

In [40]:
#Reverse the order of elements in a list.
List=[30,20,10,40,70]
List.reverse()
print(List)

[70, 40, 10, 20, 30]

In [42]:
#Sort a list in ascending order.
L=[100,90,70,80,200]
L.sort()
print(l)

[70, 80, 90, 100, 200]

In [48]:
#Sort a list in descending order.
L=[100,90,70,80,200]
L.sort(reverse=True)
print(L)

[200, 100, 90, 80, 70]

In [2]:
#Create a list of even numbers from 1 to 20.
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
#Create a list of odd numbers from 1 to 20.
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [6]:
#Find the sum of all elements in a list.
a=[10,20,60,80,90]
sum=0
for i in a:
    sum+=i
print("the sum is :",sum)

the sum is : 260

In [24]:
#Find the maximum value in a list.
a=[10,20,60,80,90]
max(a)

90

In [25]:
#Find the minimum value in a list.
a=[10,20,60,80,90]
min(a)

10

In [ ]:
#Create a list of squares of numbers from 1 to 10.
a=list(range(1,11))
b=[x*x for x in a]                  #not getting o/p because of kernel issues already checked in other kernel
print(b)

In [41]:
#Create a list of random numbers.
import random
my_randoms = [random.randint(0, 100) for _ in range(10)]
print(my_randoms)

[69, 85, 89, 49, 41, 49, 21, 40, 73, 89]

In [ ]:
Remove duplicates from a list.
a=[10,20,10,60,70,60,90]
set(a)                            #not getting o/p because of kernel issues already checked in other kernel
list(set(a))

In [49]:
#Find the common elements between two lists.
m=[10,20,30,60,40]
n=[10,90,120,130,100,20]
common_elements=[]
for i in m:
    if i in n:
        common_elements.append(i)
print("list of common elements :",common_elements)

list of common elements : [10, 20]

In [17]:
#Find the difference between two lists.
def diff(l1, l2):
    return [i for i in l1 if i not in l2]
l1=[1,2,3,4,5]
l2=[1,2,3,4]
print(diff(l1, l2))

[5]

In [23]:
#Merge two lists.
l1=[1,2,3,4,5]
l2=[1,2,3,4]
print(l1+l2)

[1, 2, 3, 4, 5, 1, 2, 3, 4]

In [51]:
#Multiply all elements in a list by 2.
e=[2,4,6,8,10]
f=[x*2 for x in e]
print(f)

[4, 8, 12, 16, 20]

In [52]:
#Filter out all even numbers from a list.
r=[1,2,3,9,77,55,4,8]
even_numbers=[]
for i in r:
    if i%2==0:
        even_numbers.append(i)
print("the filtered out even number list :",even_numbers)

the filtered out even number list : [2, 4, 8]

In [7]:
#Convert a list of strings to a list of integers.
t=['456','789','102']
u=list(map(int,t))
print("The list of integers:",u)

The list of integers: [456, 789, 102]

In [10]:
#Convert a list of integers to a list of strings.
i=[123,456,789]
s=list(map(str,i))
print("the list of string:", s)

the list of string: ['123', '456', '789']

In [15]:
#Flatten a nested list.
nested_list=[[1,2],[4,5,6],[7,8,9]]
flattened_list = [x for sublist in nested_list for x in sublist]
print("flattend list",flattened_list)

flattend list [1, 2, 4, 5, 6, 7, 8, 9]

In [18]:
#Create a list of the first 10 Fibonacci numbers.
def fibonacci(n):
    if n<=1:
        return n
    else:
        return fibonacci(n-1)+fibonacci(n-2)
fibonacci_list = []
for i in range(10):
    fibonacci_list.append(fibonacci(i))  
print("list of first 10 fibonacci numbers :",fibonacci_list )

list of first 10 fibonacci numbers : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [24]:
#Check if a list is sorted.
def is_sorted(lst):
    return lst == sorted(lst)
lst=[10,9,7,1]
print("sorted(lst)")

sorted(lst)

In [4]:
#Rotate a list to the left by `n` positions.
l=[1,5,6,7,8]
l2=l[3:]+l[:3]
print(l2)

[7, 8, 1, 5, 6]

In [6]:
#Rotate a list to the right by `n` positions.
l=[1,5,6,7,8]
l2=l[-3:]+l[:-3]
print(l2)

[6, 7, 8, 1, 5]

In [2]:
#Create a list of prime numbers up to 50.

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = [i for i in range(2, 10) if is_prime(i)]
print(primes)

[2, 3, 5, 7]

In [15]:
#Split a list into chunks of size `n`.
def split_list(lst, n):
    result = []
    for i in range(0, len(lst), n):
        result.append(lst[i:i + n])
    return result

split_list([2,8,9,10,80,500,1000,500], 2)

[[2, 8], [9, 10], [80, 500], [1000, 500]]

In [64]:
#find the second largest number in a list.
lst=[1,2,3,5,6,8,9]
mx=max(lst)
lst.remove(mx)
print(max(lst))

8

In [26]:
#Replace every element in a list with its square.
lst=[7,2,3,4,5]
s=[x*x for x in lst]
print(s)

[49, 4, 9, 16, 25]

In [35]:
#Convert a list to a dictionary where list elements become keys and their indices become values.
my_list = ['apple', 'banana', 'cherry']
my_dict = {index: value for index, value in enumerate(my_list)}
print(my_dict)

{0: 'apple', 1: 'banana', 2: 'cherry'}

In [36]:
#Shuffle the elements of a list randomly.
import random

my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[3, 1, 5, 4, 2]

In [9]:
#Create a list of the first 10 factorial numbers.
def factorial(n):
    if n==0:
        return 1
    else: 
        return n*factorial(n-1)
factorials=[factorial(i) for i in range(1,11)]
print(factorials)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [52]:
#Check if two lists have at least one element in common.
l1=[1,3,5,8,63,2]
l2=[1,6,98,77,53,55]
common = False
for i in l1:
    for j in l2:
        if i==j:
            common = True
            break
    if common:
        break

if common:
    print("two lists have a common element")
else:
    print("two lists don't have a common element")

two lists have a common element

In [28]:
#Remove all elements from a list
lst=[52,65,47,98,63]
lst.clear()
print(lst)

[]

In [ ]:
#Replace negative numbers in a list with 0.
lst=[10,-20,60,-90,55,40]
lst1=[]
for i in lst:
    if i<0:
        lst1.append(0)
print(lst1)

In [1]:
#Convert a string into a list of words
s='jawan'
lst=[]
for i in s:
    lst.append(i)
print(lst)

['j', 'a', 'w', 'a', 'n']

In [5]:
#Convert a list of words into a string.
l=['j', 'a', 'w', 'a', 'n']
separator = ' '
string = separator.join([str(x) for x in l])  
print(string)

j a w a n

In [13]:
#Create a list of the first `n` powers of 2.
u=[1,2,3,4,5]
l=[2**x for x in u]
print(l)

[2, 4, 8, 16, 32]

In [14]:
#Find the longest string in a list of strings.
l=['ubed','afiya','umaiza','umaira afsha']
longest=max(l,key=len)
print(longest)

umaira afsha

In [15]:
#Find the shortest string in a list of strings.
l=['ubed','afiya','umaiza','umaira afsha']
shortest=min(l,key=len)
print(shortest)

ubed

In [46]:
#Create a list of the first `n` triangular numbers.
n=int(input("enter the range for triangular numbers"))
lt=[n*(n+1)//2 for n in range(1,n+1)]
print(lt)

enter the range for triangular numbers 5

[1, 3, 6, 10, 15]

In [16]:
#Check if a list contains another list as a subsequence.
def check_subsequence(larger_list, lookup_list):
    check = True
    for i in lookup_list:
        try:
            index = larger_list.index(i)
            larger_list = larger_list[index+1:]
        except ValueError:
            check = False
            break
    return check
larger_list=[[1,2],1,2,3,4,5]  
lookup_list=[1,2]
print(check_subsequence(larger_list, lookup_list))

True

In [49]:
#Swap two elements in a list by their indices.
l1=[1,2,3,4,5,6,7,8]
i,j=1,6
l1[i],l1[j]=l1[j],l1[i]
print(l1)

[1, 7, 3, 4, 5, 6, 2, 8]

In [1]:
                                                      '''Tuples'''
#Create a tuple with integers from 1 to 5.
a=list(range(1,6))
print(tuple(a))

(1, 2, 3, 4, 5)

In [2]:
#Access the third element of a tuple.
t= (1, 2, 3, 4, 5)
t[2]

3

In [3]:
#Find the length of a tuple without using the `len()` function.
t= (1, 2, 3, 4, 5)
count=0
for i in t:
    count+=1
print("length of tuple is:", count)

length of tuple is: 5

In [13]:
#Count the occurrences of an element in a tuple.
t1=(1,2,3,4,5,5,5,6,7)
a=int(input("enter the element for finding occurence in tuple:"))
count=0
for i in t1:
    if i==a:
        count+=1
print("the occurrences of entered element in a tuple is:",count)

enter the element for finding occurence in tuple: 6

the occurrences of entered element in a tuple is: 1

In [3]:
#Find the index of the first occurrence of an element in a tuple.
t1=(1,2,3,4,5,5,5,6,7)
l1=list(t1)
l1.index(5)
print (l1.index(5))

4

In [9]:
#Check if an element exists in a tuplke.
t1=(1,2,3,4,5,5,5,6,7)
l2=list(t1)
a=int(input("enter the element to check :"))
if a in l2:
    print("the entered element is in the tuple")
else:
    print("the entered element is not in the tuple")

enter the element to check : 8

the entered element is not in the tuple

In [10]:
#Convert a tuple to a list.
t1=(1,2,3,4,5,5,5,6,7)
l2=list(t1)
print(l2)

[1, 2, 3, 4, 5, 5, 5, 6, 7]

In [11]:
#Convert a list to a tuple.
l1=[1, 2, 3, 4, 5, 5, 5, 6, 7]
t2=tuple(l1)
print(t2)

(1, 2, 3, 4, 5, 5, 5, 6, 7)

In [43]:
#Unpack the elements of a tuple into variables.
t=(100,200,300)
a,b,c=t
print(a)
print(b)
print(c)

100
200
300

In [16]:
#Create a tuple of even numbers from 1 to 10.
Le=[x for x in range(1,11) if x%2==0]
print(tuple(Le))

(2, 4, 6, 8, 10)

In [17]:
#Create a tuple of odd numbers from 1 to 10.
Le=[x for x in range(1,11) if x%2!=0]
print(tuple(Le))

(1, 3, 5, 7, 9)

In [18]:
#Concatenate two tuples.
t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)

(1, 2, 3, 4, 5, 6)

In [19]:
#Repeat a tuple three times.
t1=(1,2,3)
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [29]:
#Check if a tuple is empty.
t1=()
if len(t1)>0:
    print("the tuple is not empty")
else:
    print("the tuple is empty")

the tuple is empty

In [32]:
#Create a nested tuple.
t1=(1,2)
t2=(0,2)
t3=(1,4)
t4=(t1,t2,t3)
print(t4)

((1, 2), (0, 2), (1, 4))

In [33]:
#Access the first element of a nested tuple.
Tn=((1, 2), (0, 2), (1, 4))
Tn[0]

(1, 2)

In [36]:
#Create a tuple with a single element.
l=list(range(1,2))
print(tuple(l))

(1,)

In [38]:
#Compare two tuples.
t1=(1,2,4,5,7)
l1=list(t1)
t2=(4,5,6,7,8)
l2=list(t2)
Lc=[]
for i in l1:
    for j in l2:
        if i==j:
            Lc.append(i)
print("the common elements in two tuples:",tuple(Lc))

the common elements in two tuples: (4, 5, 7)

In [50]:
#Delete a tuple.
t1=(1,2,4,5,7)
del t1

In [42]:
#Slice a tuple.

t1=(1,2,4,5,7)
t1[1:4]

(2, 4, 5)

In [43]:
#Find the maximum value in a tuple.
t1=(1,2,4,5,7)
print(max(t1))

7

In [45]:
#Find the minimum value in a tuple.
t1=(1,2,4,5,7)
print(min(t1))

1

In [51]:
#Convert a string to a tuple of characters.
a=str(input("enter the string:"))
l=[]
for i in a:
    l.append(i)
print(tuple(l))

enter the string: ubed

('u', 'b', 'e', 'd')

In [56]:
#Convert a tuple of characters to a string.
t=('u', 'b', 'e', 'd')
l1=list(t)
string=l1[0]+l1[1]+l1[2]+l1[3]
print(str(string))

ubed

In [69]:
#Create a tuple from multiple data types.
l=list(range(1,6))
l.append('ubed')
l.append(9.5)
print(tuple(l))

(1, 2, 3, 4, 5, 'ubed', 9.5)

In [72]:
#Check if two tuples are identical.
t1=(1,2,3,4)
t2=(1,2,3)
if t1==t2:
    print("two tuples are identical")
else:
    print("two tuples are not identicals")

two tuples are not identicals

In [4]:
#Sort the elements of a tuple.
t1=(100,20,30,10,5,2)
l1=list(t1)
l1.sort()
print(tuple(l1))

(2, 5, 10, 20, 30, 100)

In [9]:
#Convert a tuple of integers to a tuple of strings.
t1=(100,20,30,10,5,2)
t2=list(map(str,t1))
print(tuple(t2))

('100', '20', '30', '10', '5', '2')

In [10]:
#Convert a tuple of strings to a tuple of integers.
t1=('100', '20', '30', '10', '5', '2')
t2=list(map(int,t1))
print(tuple(t2))

(100, 20, 30, 10, 5, 2)

In [11]:
#Merge two tuples.
t1=(1,2,3)
t2=(3,4,5)
print(t1+t2)

(1, 2, 3, 3, 4, 5)

In [13]:
#Flatten a nested tuple.
tn=((1,2),(3,4),(5,6),(7,8))
tf=[x for subtuple in tn for x in subtuple]
print(tuple(tf))

(1, 2, 3, 4, 5, 6, 7, 8)

In [12]:
#Create a tuple of the first 5 prime numbers.
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
    
prime=[i for i in range(1,6) if is_prime(i)]
print(tuple(prime))

(2, 3, 5)

In [17]:
#Check if a tuple is a palindrome.
t1=(1,2,5)
if t1==t1[::-1]:
    print("the tuple is a palindrome")
else:
    print("the tuple is not a palindrome")

the tuple is not a palindrome

In [18]:
#Create a tuple of squares of numbers from 1 to 5.
ls=[x**2 for x in range(1,6)]
print(tuple(ls))

(1, 4, 9, 16, 25)

In [20]:
#Filter out all even numbers from a tuple.
t1=(1,2,3,4,5,6,7,8,9,10)
Te=[x for x in t1 if x%2==0]
print(tuple(Te))

(2, 4, 6, 8, 10)

In [21]:
#Multiply all elements in a tuple by 2.
t1=(1,2,3,4,5,6,7,8,9,10)
T2=[x*2 for x in t1]
print(tuple(T2))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [26]:
#Create a tuple of random numbers.
import random
my_randoms = [random.randint(0, 100) for i in range(10)]
print(tuple(my_randoms))

(23, 99, 62, 62, 60, 94, 53, 95, 17, 47)

In [53]:
#Check if a tuple is sorted.
t=(1,2,3,4)
l=list(t)
sorted=l.sort()
print(tuple(l))

(1, 2, 3, 4)

In [14]:
#Rotate a tuple to the left by `n` positions.
t1=(1,2,3,4,5,6)
tl=t1[2:]+t1[:2]
print(tl)

(3, 4, 5, 6, 1, 2)

In [16]:
#Rotate a tuple to the right by `n` positions.
t1=(1,2,3,4,5,6)
tr=t1[-2:]+t1[:-2]
print(tr)

(5, 6, 1, 2, 3, 4)

In [8]:
#Create a tuple of the first 5 Fibonacci numbers.
def febi(n):
    if n<=1:
        return n
    else:
        return febi(n-1)+febi(n-2)
n=int(input("enter the range for which you need fibinacci numbers:"))        
lf=[]
for i in range(1,n+1):
    lf.append(febi(i))
print("the tuple of first 5 Fibinacci numbers: ",tuple(lf))

enter the range for which you need fibinacci numbers: 5

the tuple of first 5 Fibinacci numbers:  (1, 1, 2, 3, 5)

In [ ]:
#create tuple from user input.
a=int(input("enter the lower limit"))
b=int(input("enter the upper limit"))
tup=tuple(list(range(a,b+1)))
print(tup)

In [63]:
#Swap two elements in a tuple.
t=(1,2,3,4,5,6,7,8,9,10)
l=list(t)
i,j=2,5
l[i],l[j]=l[j],l[i]
print(tuple(l))

(1, 2, 6, 4, 5, 3, 7, 8, 9, 10)

In [29]:
#Reverse the elements of a tuple.
t1=(1,2,3,4,5,6,7,8,9,10)
l2=list(t1)
l2.reverse()
print(tuple(l2))

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [23]:
#Create a tuple of the first `n` powers of 2.
t3=[2**x for x in range(1,6)]
print(tuple(t3))

(2, 4, 8, 16, 32)

In [26]:
#Find the longest string in a tuple of strings.
ts=('ubed','umaira','umaizaa')
Longest=max(ts,key=len)
print(Longest)

umaizaa

In [27]:
#Find the shortest string in a tuple of strings.
ts=('ubed','umaira','umaizaa')
shortest=min(ts,key=len)
print(shortest)

ubed

In [ ]:
#Create a tuple of the first `n` triangular numbers.
a=int(input("enter the range for triangular numbers:"))
tt=[a*(a+1)//2 for a in range(1, a+1)]
print(tuple(tt))

In [65]:
#Check if a tuple contains another tuple as a subsequence.
t1=(1,2,3,4,5)
t2=(1,2,3)
s1=set(t1)
s2=set(t2)
subsuquence=s2.issubset(s1)
print(subsuquence)

True

In [66]:
#Create a tuple of alternating 1s and 0s of length `n`.
n = 10
t = tuple((i % 2) for i in range(n))
print(t)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [18]:

                                                            '''sets'''
#Create a set with integers from 1 to 5.
l1=list(range(1,6))
print(set(l1))

{1, 2, 3, 4, 5}

In [21]:
#Add an element to a set.
s= {1, 2, 3, 4, 5}
add=s.add(8)
print(s)

{1, 2, 3, 4, 5, 8}

In [26]:
#Remove an element from a set.
s={1, 2, 3, 4, 5, 8}
s.remove(8)
print(s)

{1, 2, 3, 4, 5}

In [27]:
#Check if an element exists in a set.
s={1, 2, 3, 4, 5, 8}
s.difference()
print(s)

{1, 2, 3, 4, 5, 8}

In [28]:
#Find the length of a set without using the `len()` function.
s={1, 2, 3, 4, 5, 8}
count=0
for i in s:
    count+=1
print("the length of set is", count)

the length of set is 6

In [32]:
#Clear all elements from a set.
s={1, 2, 3, 4, 5, 8}
s.clear()
print(set(s))

set()

In [33]:
#Create a set of even numbers from 1 to 10.
even=[x for x in range(1,11) if x%2==0]
print(set(even))

{2, 4, 6, 8, 10}

In [34]:
#Create a set of odd numbers from 1 to 10.
odd=[x for x in range(1,11) if x%2!=0]
print(set(odd))

{1, 3, 5, 7, 9}

In [8]:
#Find the union of two sets.
s1={1,2,3,5}
s2={4,6,7,8}
union_set=s.union(s1,s2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
#Find the intersection of two sets.
s1={1,2,3,4}
s2={2,3,4,5}
Intersecton=s.intersection(s1,s2)
print(Intersecton)

{3, 4}

In [11]:
#Find the difference between two sets.
s1={1,2,3,4}
s2={2,3,4,5}
difference=s1-s2
print(difference)

{1}

In [13]:
#Check if a set is a subset of another set.
s1={1, 2, 3, 4, 5, 6, 7, 8, 9}
s1.issubset(s1)

True

In [14]:
#Check if a set is a superset of another set.
s1={1, 2, 3, 4, 5, 6, 7, 8, 9}
s1.issuperset(s1)

True

In [6]:
#Create a set from a list.
lst=[1,4,6,6,8,9,7,7,3]
SET=set(lst)
print(SET)

{1, 3, 4, 6, 7, 8, 9}

In [7]:
#Convert a set to a list.
s= {1, 3, 4, 6, 7, 8, 9}
print(list(s))

[1, 3, 4, 6, 7, 8, 9]

In [16]:
#Remove a random element from a set.
s= {1, 3, 4, 6, 7, 8, 9}
s.remove(6)
print(s)

{1, 3, 4, 7, 8, 9}

In [17]:
#Pop an element from a set.
s= {1, 3, 4, 6, 7, 8, 9}
s.pop()
print(s)

{3, 4, 6, 7, 8, 9}

In [19]:
#Check if two sets have no elements in common.
s1={1,2,3,4}
s2={5,6,7,8}
print(s1.isdisjoint(s2))

True

In [26]:
#Find the symmetric difference between two sets.
s1={1,2,3,4}
s2={5,6,7,8}
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
#Update a set with elements from another set.
s={50,10,20,80,90}
s1={100,200,900,800}
s.update(s1)
print(s)

{800, 100, 900, 200, 10, 80, 50, 20, 90}

In [1]:
#Create a set of the first 5 prime numbers.
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
    
prime=[i for i in range(1,6) if is_prime(i)]
print(set(prime))

{2, 3, 5}

In [12]:
#Check if two sets are identical.
s1={1,2,3,4,5,6,7,8,9,10}
s2={1,2,3,4,5,6,7,8,9,10}
if s1==s2:
    print("two sets are identical")
else:
    print("two sets are not identical")

two sets are identical

In [14]:
#Create a frozen set.
myset={143,153,163,193}
frozen=frozenset(myset)
print(frozen)

frozenset({153, 163, 193, 143})

In [2]:
#Check if a set is disjoint with another set.
s1={1,2,3,4,5}
s2={6,7,8,9,10}
Disjoint= s1.isdisjoint(s2)
print(Disjoint)

True

In [9]:
#Create a set of squares of numbers from 1 to 5.
a=list(range(1,6))
squares=[x**2 for x in a]
print(set(squares))

{1, 4, 9, 16, 25}

In [8]:
#Filter out all even numbers from a set.
s={1,2,3,4,5,6,7,8,9,10}
l=list(s)
even=[x for x in l if x%2==0]
print(set(even))

{2, 4, 6, 8, 10}

In [7]:
#Multiply all elements in a set by 2.
s={2,9,8,7,4}
l=list(s)
mul2=[x*2 for x in l]
print(set(mul2))

{4, 8, 14, 16, 18}

In [31]:
#Create a set of random numbers.
import random
my_randoms = [random.randint(0, 100) for i in range(10)]
print(set(my_randoms))

{2, 3, 40, 48, 20, 53, 52, 26, 27}

In [5]:
#Check if a set is empty.
s={}
if len(s)==0:
    print("the set is empty")
else:
    print("set is not empty")

the set is empty

In [33]:
#Create a nested set (hint: use frozenset)
outer_set = set()
inner_set1 = frozenset([1, 2])
inner_set2 = frozenset([3, 4])
outer_set.add(inner_set1)
outer_set.add(inner_set2)
print(outer_set)

{frozenset({3, 4}), frozenset({1, 2})}

In [18]:
#Remove an element from a set using the discard method.
d={1,2,3,5,6,9}
d.discard(9)
print(d)

{1, 2, 3, 5, 6}

In [3]:
#Compare two sets.
s1={1,2,3,4,5}
s2={6,7,8,9,10}
inter = s1.intersection (s2)
print(inter)

set()

In [23]:
#Create a set from a string.
s='123456'
d=set(s)
d1=list(map(int,d))
print(set(d1))

{1, 2, 3, 4, 5, 6}

In [32]:
#Convert a set of strings to a set of integers.
ss={'9', '2', '6', '5', '1', '10'}
si=list(map(int,ss))
print(set(si))

{1, 2, 5, 6, 9, 10}

In [31]:
#Convert a set of integers to a set of strings.
si={1,2,5,6,9,10}
ss= list(map(str,si))
print(set(ss))

{'9', '2', '6', '5', '1', '10'}

In [6]:
#Create a set from a tuple.
t=(1, 2, 3, 4, 5)
s=set(t)
print(s)

{1, 2, 3, 4, 5}

In [5]:
#Convert a set to a tuple.
s1= {1, 2, 3, 4, 5}
t=tuple(s1)
print(t)

(1, 2, 3, 4, 5)

In [4]:
#Find the maximum value in a set.
s1= {1, 2, 3, 4, 5}
M= max(s1)
print(M)

5

In [3]:
#Find the minimum value in a set.
s1= {1, 2, 3, 4, 5}
m= min(s1)
print(m)

1

In [2]:
#Create a set from user input.
a=int(input("enter the lower range for creating a set:"))
b=int(input("enter the upper range for creating a set:"))
c=list(range(a,b))
print("set is", set(c))

enter the lower range for creating a set: 1
enter the upper range for creating a set: 6

set is {1, 2, 3, 4, 5}

In [8]:
#Check if the intersection of two sets is empty.
s1={1,2,3}
s2={4,5,6}
intersec = s1.intersection(s2)
if len(intersec) == 0:
    print("the intersection of two sets is empty")
else:
    print("the intersection of two sets is not empty")

the intersection of two sets is empty

In [28]:
#Create a set of the first 5 Fibonacci numbers.
def febi(n):
    if n<=1:
        return n
    else:
        return febi(n-1)+febi(n-2)
febil=[]        
for i in range(1,6):
    febil.append(febi(i))
print(set(febil))

{1, 2, 3, 5}

In [9]:
#Remove duplicates from a list using sets.
l=[1,2,2,3,3,4,5,5]
print(set(l))

{1, 2, 3, 4, 5}

In [22]:
#Check if two sets have the same elements, regardless of their count.
set1 = {1,2,3}
set2 = {2,3,1}

if  set1 == set2:
    print("The sets have the same elements")
else:
    print("The sets do not have the same elements")

The sets have the same elements

In [17]:
#Create a set of the first `n` powers of 2.
powers_of_2=[2**x for x in range(1,6)]
sort=powers_of_2.sort()
print(set(powers_of_2))

{32, 2, 4, 8, 16}

In [11]:
#Find the common elements between a set and a list.
s={1,6,5,2,3}
l=[1,2,3,4,5]
s1=set(l)
common=s.intersection(s1)
print(common)

{1, 2, 3, 5}

In [20]:
#Create a set of the first `n` triangular numbers.
t= [n*(n+1)//2 for n in range(1,6)]
print(set(t))

{1, 3, 6, 10, 15}

In [48]:
#Check if a set contains another set as a subset.
s1={1,2,3,4,6,8,9}
s2={1,2,3}
if s2.issubset(s1):
    print("s1 contains s2 has subset")
else:
    print("s1 has no subset")

s1 contains s2 has subset

In [47]:
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
if set_a.issubset(set_b):
    print("set_a is a subset of set_b")
else:
    print("set_a is not a subset of set_b")

set_a is a subset of set_b

In [24]:
#Create a set of alternating 1s and 0s of length `n`.
n = 10
alternating_set = set()
for i in range(n):
    alternating_set.add(i % 2)
print(alternating_set)

{0, 1}

In [12]:
#Merge multiple sets into one.
s1={1,2,3}
s2={4,5,6}
s3={7,8,9}
merge= s1.union(s2).union(s3)
print(merge)

{1, 2, 3, 4, 5, 6, 7, 8, 9}